body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
}

*{
      font-family: cursive;
      box-sizing: border-box;
}

button{
  cursor: pointer;
}
.fixed {
  position: relative;
  /* top: 0 */
  top: 50px;
  left:250px
}

span.cross {
  position: fixed;
  z-index: 1000;
  width: 50px;
  height: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-size: contain;
  margin-top: 10px;
  margin-left: 10px;
}



.popUpContainer {
  z-index: 1000;
  position: fixed;
  display: flex;
  flex-direction: column;
  background: white;
  margin: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 10px;
}


button.action {
  margin: 10px auto 0;
  padding: 5px 30px;
  background: #fffc6d;
  border-radius: 5px;
}